@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

:root {
	--color: #894e3f;
}

body {
	background: #f0d7a7;
}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    background-color: rgb(247, 244, 241);
    width: 100%;
    height: 2px;
    border: none;
}
.app-content{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;

}